@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Extralight.otf") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Light.otf") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Medium.otf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf") format("woff2");
  font-weight: 700;
  font-style: normal;
}